{% extends 'tasks/base.html' %}

{% block content %}
<!-- Search form -->
<form method="get" class="search-form">
    {{ search_form }}
    <button type="submit">Search</button>
</form>

<!-- Tasks desk -->
<div class="desk">
    <!-- To do tasks -->
     <div class="box-container">
        <h3>To do</h3>
        <div class="box">
            <ul>
                {% for task in object_list %}
                    {% if task.status == 'to_do' %}
                    <li><a href="{% url 'task-detail' task.pk %}">{{ task }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
     </div>
    
    <!-- In process tasks -->
    <div class="box-container">
        <h3>In process</h3>
        <div class="box">
            <ul>
                {% for task in task_list %}
                    {% if task.status == 'in_process' %}
                    <li><a href="{% url 'task-detail' task.pk %}">{{ task }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
     </div>

    <!-- Finished tasks -->
    <div class="box-container">
        <h3>Finished</h3>
        <div class="box">
            <ul>
                {% for task in task_list %}
                    {% if task.status == 'finished' %}
                    <li style="text-decoration: line-through;"><a href="{% url 'task-detail' task.pk %}">{{ task }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
     </div>
</div>
<div class="btn-container">
    <a href="{% url 'task-create' %}"><button>Create new task</button></a>
</div>
{% endblock %}